/* Write your CSS here */
.respos-item-container{
    background-color:  #f8f8ff;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 25%; 
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 993px){
    .respos-item-container{
        width: 30%;
    }
}
@media (max-width: 576px){
    .respos-item-container{
        width: 90%;
    }
}

.avatar{
    width: 100px;
}
.repos-name{
    font-family: "Roboto";
    font-size: 22px;
    color: #e73959;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    align-self: flex-start; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   
}
.star-logo{
    width: 16px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.stars-count{
    font-family: "Roboto";
    font-size: 14px;
    color: #1e293b;
    margin-bottom: 5px;
    margin-top: 5px;
}















